<!doctype html>
<html class="no-js h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Інформація про хости</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" th:href="@{/styles/shards-dashboards.1.1.0.min.css}">
    <link rel="stylesheet" th:href="@{/styles/extras.1.1.0.min.css}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body class="h-100">
    <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-3 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" style="line-height: 25px;" href="/">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" th:src="@{/images/shards-dashboards-logo.svg}" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1">ОБЛІК ПОДІЙ ІМ</span>
                </div>
              </a>
            </nav>
          </div>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="/">
                  <i class="material-icons">home</i>
                  <span>Головна</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/hosts/all">
                  <i class="material-icons">settings_input_antenna</i>
                  <span>Зареєстровані хости</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/hardware/all">
                  <i class="material-icons">router</i>
                  <span>Список апаратного забезпечення</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/software/all">
                  <i class="material-icons">api</i>
                  <span>Список програмного забезпечення на ПЕОМ</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/events/all">
                  <i class="material-icons">error</i>
                  <span>Події</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/signout">
                  <i class="material-icons">logout</i>
                  <span>Вихід</span>
                </a>
              </li>
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-9 col-md-9 p-0 offset-lg-3">
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-6 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">Облік подій ІМ</span>
                <h3 class="page-title">Список зареєстрованого програмного забезпечення (ПЗ) для ПЕОМ</h3>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="card card-small mb-4 overflow-hidden">
                  <div class="card-header bg-dark border-bottom">
                    <h6 class="m-0 text-white">Моє програмне забезпечення</h6>
                  </div>
                  <div class="card-body p-0 pb-3 bg-dark text-center">
                    <table class="table table-dark mb-0">
                      <thead class="thead-dark">
                      <tr>
                        <th scope="col" class="border-0">№</th>
                        <th scope="col" class="border-0">Назва</th>
                        <th scope="col" class="border-0">Ліцензія</th>
                        <th scope="col" class="border-0">Тип ПЗ</th>
                        <th scope="col" class="border-0">Встановлено на (хост)</th>
                        <th scope="col" class="border-0">Кількість подій</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="software: ${userSoftware}">
                        <td class="text-center" th:text="${software?.id}">1</td>
                        <td class="text-center" th:text="${software?.softwareName}"></td>
                        <td class="text-center" th:text="${software?.licence ? 'Активовано' : 'Не активовано'}"></td>
                        <td class="text-center" th:text="${software?.softwareType.softwareName}"></td>
                        <td class="text-center" th:text="${software?.ownerHost?.hostName}"></td>
                        <td class="text-center" th:text="${software?.errorEvents?.size()}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card card-small mb-4">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Все програмне забезпечення</h6>
                  </div>
                  <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0">
                      <thead class="bg-light">
                      <tr>
                        <th scope="col" class="border-0">№</th>
                        <th scope="col" class="border-0">Назва</th>
                        <th scope="col" class="border-0">Ліцензія</th>
                        <th scope="col" class="border-0">Тип ПЗ</th>
                        <th scope="col" class="border-0">Встановлено на (хост)</th>
                        <th scope="col" class="border-0">Кількість подій</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="software: ${allSoftware}">
                        <td class="text-center" th:text="${software?.id}">1</td>
                        <td class="text-center" th:text="${software?.softwareName}"></td>
                        <td class="text-center" th:text="${software?.licence ? 'Активовано' : 'Не активовано'}"></td>
                        <td class="text-center" th:text="${software?.softwareType.softwareName}"></td>
                        <td class="text-center" th:text="${software?.ownerHost?.hostName}"></td>
                        <td class="text-center" th:text="${software?.errorEvents?.size()}"></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script th:src="@{/scripts/extras.1.1.0.min.js}"></script>
    <script th:src="@{/scripts/shards-dashboards.1.1.0.min.js}"></script>
    <script th:src="@{/scripts/app/app-blog-overview.1.1.0.js}"></script>
  </body>
</html>